COPYING
INSTALL
Makefile
Makefile.in
NEWS
README
TODO
VERSION
aclocal.m4
autom4te.cache/
autoscan.log
changelog
config.log
config.status
configure
configure.ac
doc/Makefile
doc/Makefile.in
doc/kolchan.css
doc/kolchan.html
install-sh
missing
src/Makefile
src/Makefile.in

